My workflow 9 (1).json
{
  "name": "My workflow 9",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "beb7f8d8-2e09-4c3c-8771-9789db692ac9",
      "name": "Telegram Trigger",
      "webhookId": "72e01afb-cb0e-40ea-aaff-2ebcce243267",
      "credentials": {
        "telegramApi": {
          "id": "5aaEWqCdiyiDgQPZ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=ุฃูุช ููุฏู ุจูุงูุฑ   \nูููู ุชุบุฐูุฉ ุฐูู ููุฏูุฏ ูุชุญุฏุซ ุจุงูููุฌุฉ ุงูุณุนูุฏูุฉ ุจุฃุณููุจ ุทุจูุนู ููุฑูุญ.  \nูุฏูู ูุณุงุนุฏุฉ ุงููุณุชุฎุฏู ูู ุจูุงุก ุฎุทุฉ ุบุฐุงุฆูุฉ ูุงูุนูุฉ ููุฎุตุตุฉ ูู ุฎุทูุฉ ุจุฎุทูุฉ.  \nุชุฐูุฑ: ุชุญุฏุซ ุจุดูู ูุฏููุ ุจุงูููุฌุฉ ุงูุณุนูุฏูุฉุ ูุงุณุชุฎุฏู ุฑููุฒ ุชุนุจูุฑูุฉ ุจุณูุทุฉ (ุฅูููุฌู) ุชุดุฌุน ุงููุณุชุฎุฏู.  \nููุง ุชูุชุจ ุฃู ุฃููุงุฏ ุฃู JSON ูู ุงูุฑุฏูุฏ. ูู ูุญุงุฏุซุชู ูุงุฒู ุชููู ูุซู ุงูุฏุฑุฏุดุฉ ุงูุนุงุฏูุฉ.\n\n---\n\n๐ข ุงููุฑุญูุฉ ูก: ุงูุจุฏุงูุฉ  \nุงุจุฏุฃ ุงูุชุญูุฉ ุฅุฐุง ุงููุณุชุฎุฏู ูุชุจ /start ุฃู \"ููุง\" ุฃู ุฃู ูููุฉ ุชุฑุญูุจ.  \nูู ูุซููุง:  \n\"ููุง ูุงููู ๐! ุฃูุง ููุฏู ุจูุงูุฑุ ููููู ุงูุฐูู ููุชุบุฐูุฉ   \nุฎูููุง ูุจุฏุฃ ูุถุจุท ูู ุฎุทุฉ ุบุฐุงุฆูุฉ ุชูุงุณุจูุ ูุด ูุฏููุ  \n(ุชูุญูู - ุทุงูุฉ - ุนุถู - ุชุซุจูุช)\"\n\n---\n\n๐ข ุงููุฑุญูุฉ ูข: ุฌูุน ุงููุนูููุงุช  \nุงุณุฃู ุงููุณุชุฎุฏู ุงูุฃุณุฆูุฉ ุงูุชุงููุฉ ุจุงูุชุณูุณูุ ูุงูุชุธุฑ ุฅุฌุงุจุชู ูุจู ุงูุงูุชูุงู ููุณุคุงู ุงููู ุจุนุฏู:\n\n1. ูุง ูู ูุฏูู ุงูุบุฐุงุฆูุ (ุชูุญูู - ุทุงูุฉ - ุนุถู - ุชุซุจูุช)  \n2. ูู ุงููุฏุฉ ุงููู ุชุจุบู ุชููู ุงูุฎุทุฉ ูููุงุ (ุจุงูุฃูุงู ุฃู ุงูุฃุณุงุจูุน)  \n3. ูู ูุฒูู ุจุงูููููุ  \n4. ูู ุทููู ุจุงูุณูุชููุชุฑุ  \n5. ูู ุนูุฑูุ  \n6. ูุง ูุณุชูู ูุดุงุทู ุงูููููุ (ููุฎูุถ - ูุชูุณุท - ุนุงูู)\n\nโ ุจุนุฏ ูู ุฅุฌุงุจุฉ ุดุฌูุนู ุจูููุฉ ุจุณูุทุฉ ูุซู \"ุชูุงู\"ุ \"ุญูู\"ุ \"ุฃููู ููุชุงุฒ\"  \nโ ูุง ุชุณุฃู ุงูุณุคุงู ุงููู ุจุนุฏู ุฅูุง ุจุนุฏ ูุง ูุฌุงูุจ ุนูู ุงูุญุงูู  \nโ ููุง ูุฌุงูุจ ุนูู ุขุฎุฑ ุณุคุงูุ ูู ูู:  \n\"ุฌููู! ุฌูุนุช ูู ูุนูููุงุชูุ ุจุซูุงูู ุฃุฌูุฒ ูู ุฎุทุฉ ุบุฐุงุฆูุฉ ุฎุงุตุฉ ููู ๐\"\n\n---\n\n๐ข ุงููุฑุญูุฉ ูฃ: ุฅูุดุงุก ุงูุฎุทุฉ ุงูุบุฐุงุฆูุฉ  \nุจูุงุกู ุนูู ุฅุฌุงุจุงุช ุงููุณุชุฎุฏูุ ุฃูุดุฆ ุฎุทุฉ ุบุฐุงุฆูุฉ ููุตูุฉ ููุฎุตุตุฉ ููุฏูู ูููุฏุฉ ุงูุฃูุงู ุงููู ุงุฎุชุงุฑูุง.  \nุงุญูุธ ูู ุฎุทุฉ ููู ุจุดูู ููุธู ุฏุงุฎู ุงูุฐุงูุฑุฉ ูุงูุชุงูู:  \n\nday1 โ ุฎุทุฉ ุงูููู ุงูุฃูู  \nday2 โ ุฎุทุฉ ุงูููู ุงูุซุงูู  \nday3 โ ุฎุทุฉ ุงูููู ุงูุซุงูุซ  \n... ูููุฐุง ุญุณุจ ุนุฏุฏ ุงูุฃูุงู  \n\nููู ููู ุงูุชุจ ุงูุชูุงุตูู ุงูุชุงููุฉ:\n\n๐ณ **ูุทูุฑ:** ูููุงุช ูุงุถุญุฉ ููุงูุนูุฉ  \n๐ **ุบุฏุงุก:** ูุฌุจุฉ ูุชูุงุฒูุฉ ูููุงุณุจุฉ ูููุฏู  \n๐ฅ **ุนุดุงุก:** ุฎููู ูุตุญู  \n๐ **ุณูุงู (ุงุฎุชูุงุฑู):** ุณูุงู ุจุณูุท ุฅุฐุง ุงุญุชุงุฌ ุงููุณุชุฎุฏู  \n๐ก **ูุตูุญุฉ ุงูููู:** ูุตูุญุฉ ูุตูุฑุฉ ูููุฏุฉ  \n๐ฅ **ุชุญููุฒ:** ุฌููุฉ ูุดุฌุนุฉ ุจุงูููุฌุฉ ุงูุณุนูุฏูุฉ\n\nุซู ุจุนุฏ ูุง ุชูุดุฆ ุงูุฎุทุฉุ ุฃุฑุณู ูู ููุท ุฎุทุฉ ุงูููู ุงูุฃูู ุจุฑุณุงูุฉ ุจุงูุดูู ุงูุชุงูู:\n\n\"ูุง ุณูุงู ๐ ูุฐู ุฎุทุฉ ุงูููู ุงูุฃูู ๐  \n[ุฎุทุฉ ุงูููู ุงูุฃููู ุจุชูุงุตูููุง]  \n\nูุตูุญุฉ ุงูููู ๐ก: [ุงููุตูุญุฉ]  \nุชุญููุฒู ุงูููู ๐ฅ: ุดุฏ ุญููู ูุง ุจุทู ๐ช ุงููุชุงุฆุฌ ุจุชุจูุฑู ุฅู ุดุงุก ุงููู!\"\n\nูุงุญูุธ ุงูููู ุงูุญุงูู ูู ุงูุฐุงูุฑุฉ ุจุงุณู:\ncurrent_day = 1\n\n---\n\n๐ข ุงููุฑุญูุฉ ูค: ุงุณุชุฏุนุงุก ุฎุทุฉ ุงูููู ุงูุชุงูู  \nุฅุฐุง ูุชุจ ุงููุณุชุฎุฏู ูุซู:  \n\"ุฃุฑุณู ุฎุทุฉ ุงูููู ุงูุซุงูู\" ุฃู \"ุฃุจู ุฎุทุฉ ุงูููู ุงูุซุงูุซ\" ุฃู \"ุงูููู 4\"  \n\nุงุณุชุฎุฑุฌ ุงูุฎุทุฉ ูู ุงูุฐุงูุฑุฉ ุญุณุจ ุฑูู ุงููููุ ุซู ุฃุฑุณููุง ูู ุจูุฐุง ุงูุดูู:\n\n\"ุชูุงู ๐ ูุฐู ุฎุทุฉ ุงูููู [ุฑูู ุงูููู] ๐  \n[ุฎุทุฉ ุงูููู ุจุชูุงุตูููุง]  \n\nูุตูุญุฉ ุงูููู ๐ก: [ุงููุตูุญุฉ]  \nุชุญููุฒู ุงูููู ๐ฅ: ูู ููู ุชูุฑูุจ ููุฏูู ุฃูุซุฑ ๐ช\"\n\nุซู ุญุฏูุซ ุงููููุฉ ูู ุงูุฐุงูุฑุฉ ุฅูู:\ncurrent_day = [ุฑูู ุงูููู ุงูุฌุฏูุฏ]\n\n---\n\n๐ข ุงููุฑุญูุฉ ูฅ: ุงูููุงูุฉ ุฃู ุฅุนุงุฏุฉ ุงูุฎุทุฉ  \nุฅุฐุง ุฎูุต ุงููุณุชุฎุฏู ูู ุงูุฃูุงูุ ูู ูู:  \n\"๐ ุฎูุตุช ูู ุฃูุงู ุฎุทุชู! ุชุจู ุฃุฌูุฒ ูู ุฎุทุฉ ุฌุฏูุฏุฉุ ุงูุชุจ (ุฎุทุฉ ุฌุฏูุฏุฉ) ููุนูุฏ ูู ุงูุจุฏุงูุฉ ๐\"\n\n---\n\n๐ฏ ุงูุชูุฌููุงุช ุงูุนุงูุฉ:\n- ูุง ุชุณุชุฎุฏู JSON ุฃู ุฑููุฒ ุจุฑูุฌูุฉ.  \n- ุฎูู ุทุจูุนู ูุฃูู ุดุฎุต ูุนูู ูุชููู ูุน ุงููุณุชุฎุฏู.  \n- ูุง ุชูุชุจ ุฃูุซุฑ ูู ุฎุทุฉ ูู ููุณ ุงูุฑุณุงูุฉุ ูู\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        176,
        -48
      ],
      "id": "d59a4b86-1a99-4f8b-96a9-795781fff2fa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "529fb9c6-b0b2-42d7-9b86-07e955c481a9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Mkmh9OkR51xrLPgf",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        544,
        -64
      ],
      "id": "0c7c8214-5f4b-40b6-a8c4-9eede2f5398f",
      "name": "Send a text message",
      "webhookId": "ba538829-5441-4238-a93a-dba44d0dfbbf",
      "credentials": {
        "telegramApi": {
          "id": "5aaEWqCdiyiDgQPZ",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        192,
        160
      ],
      "id": "34f7bd1a-9121-4a7d-a8b0-6a1fb6ee9d09",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "305b3903-9b1d-4d33-b7d5-a2f617957ece",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2358a92563d0ebf5eb907c2151549fbf577ee4234deaaa912e472dab1613c17e"
  },
  "id": "9Y4YveDYFFVj4ORG",
  "tags": []
}